.box{
    width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
 

  }
  .search-box{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  input {
    width: 70%;
    height: 30px;
    border-radius: 8px;
  }
  select{
    width: 25%;
    font-size: 1.5rem;
  }
  .button{
    margin-bottom: 1rem;
    height: 30px;
    display: flex;
    flex-direction: row;
   

  }
  .bttn{
    margin-left: 2rem;
    background-color: blueviolet;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

