.nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}
.flex{
    display:flex;
    flex-direction: row;
}
.icon-img{
    width: 30px;
    left: 0;
    object-fit: contain;
    cursor: pointer;
    border-radius: 60px;
    
}
.icon{
    width: 30px;
    left: 0;
    object-fit: contain;
    cursor: pointer;
    
}