
.img-cont{
    width: 250px;
   
  }
  .img-cont img {
    width: 250px;
    height: 150px;
    object-fit: contain;
  }
  .title{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .subtitle{
    font-size: 1.3rem;
    font-style: italic;
    color: rgb(8, 7, 7);
    margin-left: .5rem;
  }
  .flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-box{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 2rem;
        padding: 2%;
        width: 300px;
        background-image: linear-gradient(to right,
        hsl(236,72%,79%), 
        hsl(237,63%,64%));
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
      .price{
        font-size: xx-large;
        color: rgb(218, 10, 65);
        margin-left: .5rem;
      }
      .main-box:hover{
        transform: scale(1.08);
        opacity: 1;
    }
    .btn{
      width: 30%;
      margin-left: 1rem;
      margin-top: .5rem;
      background-color: grey;
      
    }